body {
    background: linear-gradient(#222 50px, #000), #000;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.navbar {
    background: #141414;
    border-radius: 0px;
    margin: 0pc;
}
.navbar-brand {
    color: #444;
    font-size: 28px;
    font-weight: bolder;
    letter-spacing: 2px;
}
.navbar-brand span {
    color: goldenrod;
}
.nav > li > a, .nav > li > a:focus, .nav > li > a:hover {
    color: #ccc;
    font-size: 18px;
    font-weight: 700;
    background: transparent;
}
.navbar .container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}
#jumbotron, .navbar .container-fluid, #whats-up, #footer-links, #footer {
    padding-left: 15%;
    padding-right: 15%;
}
#jumbotron {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
#jumbotron h1 {
    color: white;
    font-size: 64px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -.04em;
}
#whats-up {
    color: #888;
    padding-top: 10%;
    padding-bottom: 60px; 
}
#whats-up h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -.02em;
    line-height: 1.2;
}
#whats-up ul {
    padding: 0px;
    margin: 0px;
    margin-top: 60px;
    list-style: none;
    text-align: center;
}
#whats-up ul li, #footer-links li {
    float: left;
    width: calc(25% - 15px);
    margin-left: 7.5px;
    margin-right: 7.5px;
}
#whats-up ul li:first-of-type, #footer-links li:first-of-type {
    margin-left: 0px;
}
#whats-up ul li:last-of-type, #footer-links li:last-of-type {
    margin-right: 0px;
}
#whats-up ul li {
    float: left;
}
#whats-up ul li h5 {
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 900;
}
#whats-up ul li h5, #whats-up ul li p {
    color: white;
}
.cover {
    width: 100%;
    height: 162px;
    padding-top: 70px;
    background: #141414;
    font-size: 30px;
}
#join {
    margin-top: 120px;
    text-align: center;
}
#join a, #join a:hover, #join a:focus {
    background: #00c669;
    color: white;
    font-weight: 900px;
    text-transform: uppercase;
    border-radius: 60px;
    padding: 10px 70px;
    font-size: 18px;
    text-decoration: none;
}
.navbar-toggle .icon-bar {
    background: #888;
}
#footer-links {
    list-style: none;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
}
#footer-links li {
    text-align: center;
    padding: 7.5px 0px;
}
#footer-links li a, #footer-links li a:hover, #footer-links li a:focus {
    color: #444;
    text-decoration: none;
}
#footer-links {
    background: rgba(34, 34, 34, .2);
}
#footer {
    padding-top: 90px;
    padding-bottom: 60px;
    text-align: center;
}
@media (max-width: 767px) {
    #jumbotron, .navbar .container-fluid, #whats-up, #footer-links li {
        padding-left: 15px;
        padding-right: 15px;
    }
    #whats-up ul li, #footer-links li {
        float: none;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .cover {
        width: 100%;
        height: 162px;
        padding-top: 70px;
        background: #141414;
        font-size: 30px;
    }
    #jumbotron h1 {
        color: white;
        font-size: 44px;
        font-weight: 900;
    }
    #whats-up h3 {
        text-align: center;
        font-size: 30px;
        font-weight: 900;
    }
    #jumbotron {
        padding-top: 30%;
        padding-bottom: 30%;
    }
}
