body {
    background: radial-gradient(ellipse at 70% 70%,#ee583f 8%,#d92d77 42%,#bd3381 58%);
    background-size: cover;
}
form {
    margin: 0px 30% 30px 30%;
    min-height: 100vh;
}
#title {
    color: white;
    margin-top: 90px;
    margin-bottom: 30px;
    text-align: center
}
form .form-group {
    border: 1px solid #444;
    border-radius: 8px;
}
form .input-group {
    width: 100%;
    border-bottom: 1px solid #333;
}
form .input-group:last-of-type {
    border-bottom: none;
}
form .input-group-addon, form .form-control {
    border: none;
    border-radius: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#forgot-password {
    background: transparent;
}
form .form-group .input-group .form-control {
    background: #101010;
    height: inherit;
    box-shadow: none;
    padding-left: 60px;
}
form .form-control label {
    margin-right: 15px;
}
form .input-group-addon {
    background: transparent;
    text-align: left;
    color: #888;
    border-right: 1px solid #444;
}
form button.form-control {
    background: #00c669;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: auto;
}
#heading {
    margin: 10px 15px;
    color: #888;
}
form button.form-control {
    margin-top: 60px;
}
@media (max-width: 767px) {
    form {
        margin: 15px 15px 30px 15px;
    }
    form .form-group .input-group .form-control {
        padding-left: 12px;
    }
    form .form-control {
        background: #101010;
    }
}
