#upload-form, #delete-form, .change-account-info {
    margin: 0px 15% 30px 15%;
}
#upload-form .form-group {
    border: 1px solid #444;
    border-radius: 8px;
}
#upload-form .input-group, .change-account-info .input-group {
    width: 100%;
    border-bottom: 1px solid #333;
}
#upload-form .input-group:last-of-type {
    border-bottom: none;
}
#upload-form .input-group-addon, #upload-form .form-control, .change-account-info .input-group-addon, .change-account-info .form-control {
    border: none;
    border-radius: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#upload-form .form-control, .change-account-info .form-control, .change-account-info .input-group-addon {
    background: #000;
    height: inherit;
    box-shadow: none;
}
#upload-form .form-control label {
    margin-right: 15px;
}
#upload-form .form-group:first-of-type .form-control {
    padding-left: 60px;
}
#upload-form .input-group-addon {
    background: #222;
    width: 15%;
    text-align: left;
    color: #888;
}
#upload-form button.form-control {
    background: #00c669;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
}
#content > .heading {
    margin: 10px 15px;
}
.heading {
    color: #888;
}
#upload-form .heading:last-of-type, #upload-form button.form-control {
    margin-top: 60px;
}
#delete-form {
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 30px 15px;
    background: #101010;
} 
@media (max-width: 767px) {
    #upload-form, #delete-form, .change-account-info {
        margin: 15px 15px 30px 15px;
    }
    #upload-form .form-group:first-of-type .form-control {
        padding-left: 12px;
    }
    #upload-form .input-group-addon {
        width: 31%;
    }
    #upload-form .form-control {
        background: #101010;
    }
}
