#suggestions {
    margin: 0;
    padding: 0;
    list-style: none;
}
#suggestions li {
    float: left;
    margin: 15px 7.5px;
    width: calc(25% - 15px);
    text-align: center;
    color: #444;
    padding-top: 15px;
    box-shadow: 0px 4px 8px 0px #111;
    border-top: 0.5px solid #404040;
}
#suggestions .user {
    white-space: nowrap;
}
#suggestions img {
    width: 70%;
    border-radius: 100%;
}
#suggestions li a, #suggestions li a:hover, #suggestions li a:focus {
    color: white;
    text-decoration: none;
}
@media (max-width: 767px) {
    #suggestions li {
        width: calc(50% - 7.5px);
    }
    #suggestions li:nth-child(odd) {
        margin-left: 0px;
    }
    #suggestions li:nth-child(even) {
        margin-right: 0px;
    }
}
