#jumbotron {
    text-align: center;
    color: white;
    padding: 5% 15px 60px 15px;
    margin-bottom: 30px;
}
#jumbotron #uploads-count {
    color: #888;
} 
#jumbotron button {
    background: transparent;
    border: none;
    color: #00c669;
    text-transform: uppercase;
}
#jumbotron img {
    width: 124px;
    height: 124px;
    border-radius: 100%;
    margin-top: 60px;
    margin-bottom: 30px
}
#jumbotron #edit-account, #jumbotron #edit-account:hover, #jumbotron #edit-account:focus {
    color: #00c669;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}
#bio {
    margin-bottom: 30px;
    color: #888;
}
#jumbotron .period {
    font-size: 36px;
}
#workfolios {
    margin: 0;
    list-style: none;
    padding: 0px;
}
.workfolio {
    float: left;
    margin: 15px 7.5px;
    width: calc(25% - 15px);
    text-align: center;
}
.workfolio img {
    width: 100%;
    box-shadow: 0px 8px 16px 0px #000;
    border-top: 0.5px solid #404040;
}
.workfolio a, .workfolio a:hover, .workfolio a:focus {
    color: white;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    margin-top: 15px;
}
@media (max-width: 767px) {
    #content {
        padding-top: 0px;
    }
    #jumbotron {
        padding-top: 90px;
    }
    #workfolios {
        padding-left: 0px;
        padding-right: 0px;
    }
    .workfolio {
        width: calc(50% - 7.5px);
    }
    .workfolio:nth-child(odd) {
        margin-left: 0px
    }
    .workfolio:nth-child(even) {
        margin-right: 0px
    }
}
