#upload-form, #delete-form {
    margin: 0px 15% 30px 15%;
}
#upload-form .form-group {
    border-radius: 2px;
    background: #fff;
    border: 1px solid #e8e8e8;
}
#upload-form .input-group {
    width: 100%;
    margin-bottom: 16px;
}
#upload-form .input-group:last-of-type {
    border-bottom: none;
}
#upload-form .input-group-addon, #upload-form .form-control {
    border: none;
    border-radius: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#upload-form .form-control {
    height: inherit;
    box-shadow: none;
}
#upload-form .form-control label {
    margin-right: 15px;
}
#upload-form .input-group-addon {
    background: transparent;
    width: 15%;
    text-align: left;
    color: #888;
}
#upload-form button.form-control {
    background: #337ab7;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
}
#upload-form .heading {
    color: #888;
}
#upload-form .heading:last-of-type, #upload-form button.form-control {
    margin-top: 60px;
}
#delete-form {
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 30px 15px;
    background: #101010;
}
textarea.form-control {
    background: #fafafa;
}
@media (max-width: 767px) {
    #upload-form, #delete-form {
        margin: 15px;
    }
    #upload-form .form-group:first-of-type .form-control {
        padding-left: 12px;
    }
    #upload-form .input-group-addon {
        width: 26%;
    }
    #upload-form .form-control {
        background: #101010;
    }
}
