body {
    background: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    margin: 30px 7.5%;
}
#jumbotron {
    background: linear-gradient(#222 50px, #000);
    margin: 30px 0px;
    padding: 60px 15px;
    text-align: center;
    color: white;
}
#subtitle {
    letter-spacing: 3px;
}
#brand, #sigin-up, #brand:hover, #sigin-up:hover, #brand:focus, #sigin-up:focus {
    margin: 30px 0px;
    text-decoration: none;
}
#brand {
    text-align: center;
    display: block;
    font-weight: bolder;
    letter-spacing: 3px;
    color: #444;
    padding-left: 15px;
    font-size: 3em;
}
#brand span {
    color: goldenrod;
}
#sigin-up {
    background: #00c669;
    padding: 5px 20px;
    display: inline-block;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60px;
    text-transform: uppercase;
    font-size: 14px;
}
.project > img {
    width: 100%;
    box-shadow: 0px 8px 16px 0px #000;
    border-top: 0.5px solid #404040;
}
.project {
    float: left;
    width: calc(25% - 20px);
    margin: 10px;
    text-align: center;
    position: relative;
}
.project .details a {
    text-transform: capitalize;
    color: #eee;
    white-space: nowrap;
}
.project .details a:hover, .project .details a:focus {
    text-decoration: none;
    color: white;
    outline: none;
}
.project .details img {
    width: 18px;
    height: 18px;
    border-radius: 100%;
}
.project .details .dropdown {
    text-align: center;
    color: #00c669;
    cursor: pointer;
}
.project small {
    margin-left: 28px;
    color: #888;
}
.suggestion {
    float: left;
    margin: 15px 7.5px;
    width: calc(25% - 15px);
    text-align: center;
    color: #444;
    padding-top: 15px;
    box-shadow: 0px 4px 8px 0px #111;
    border-top: 0.5px solid #404040;
}
.suggestion .user {
    white-space: nowrap;
}
.suggestion img {
    width: 70%;
    border-radius: 100%;
}
.suggestion a, .suggestion a:hover, .suggestion a:focus {
    color: white;
    text-decoration: none;
}
.nav {
    border-bottom: 1px solid #222;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, .nav-pills>li>a, .nav-pills>li>a:hover, .nav-pills>li>a:focus {
    background: transparent !important;
    border-radius: 0px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #00c669;
    outline: none;
    border-bottom: 2px solid #00c669;
}
.nav-pills>li>a, .nav-pills>li>a:hover, .nav-pills>li>a:focus {
    color: #888;
    text-transform: lowercase;
}
.nav-pills>li {
    float: left;
    display: block;
}
.tab-content .projects {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tab-content {
    margin: 30px 0px;
}
#divider {
    float: left;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 15px;
}
#suggestions {
    padding: 0px;
    list-style: none;
}
#see-more, #see-more:hover, #see-more:focus {
    display: block;
    margin-top: 40px;
    text-align: center;
    color: #00c669;
    float: left;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
}
#about {
    margin-top: 90px;
    margin-bottom: 30px;
    text-align: center;
    float: left;
    width: 100%;
    padding: 60px 5% 30px 10%;
    background: linear-gradient(#000 50px, #222);
}
#about h1 {
    margin-bottom: 30px;
    font-weight: bolder;
}
#about h4 {
    color: #ccc;
    letter-spacing: 3px;
    line-height: 1.7;
    margin-bottom: 60px;
}
#about span {
    color: #00c669;
}
#about a, #about a:hover, #about a:focus {
    text-decoration: none;
    padding: 5px 20px;
    background: goldenrod;
    color: white;
    border-radius: 60px;
    font-size: 16px;
}
#footer {
    margin-top: 60px;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    body {
        margin: 30px 15px;
    }
    .project {
        width: calc(50% - 7.5px);
        margin: 10px 0px;
    }
    .project:nth-child(even) {
        margin-left: 7.5px;
    }
    .project:nth-child(odd) {
        margin-right: 7.5px;
    }
    .project .details {
        padding: 0px 5px;
    }
    .project > img {
        box-shadow: 0px 8px 16px 0px #000;
    }
    .suggestion {
        width: calc(50% - 7.5px);
    }
    .suggestion:nth-child(odd) {
        margin-right: 0px;
    }
    .suggestion:nth-child(even) {
        margin-left: 0px;
    }
    .nav {
        text-align: center;
    }
    .nav-pills>li {
        float: none;
        display: inline-block;
    }
    .nav-pills > li:last-child {
        float: right;
    }
    .nav-pills > li:first-child {
        float: left;
    }
    #divider {
        text-align: center;
    }
}
