.workfolio > img {
    width: 100%;
}
.workfolio {
    float: left;
    width: calc(25% - 60px);
    list-style: none;
    margin: 0px 30px 30px;
    text-align: center;
    position: relative;
}
.workfolio .details a {
    text-transform: capitalize;
    color: #111;
    font-weight: bold;
    white-space: nowrap;
}
.workfolio .details a:hover, .workfolio .details a:focus {
    text-decoration: none;
    color: #6f6f6f;
    outline: none;
}
#workfolios {
    padding: 0;
}
.workfolio .details img {
    width: 18px;
    height: 18px;
    border-radius: 100%;
}
.workfolio .details .dropdown {
    text-align: center;
    color: #00c669;
    cursor: pointer;
}
.workfolio small {
    margin-left: 28px;
    color: #888;
}
@media (max-width: 767px) {
    .workfolio {
        width: calc(50% - 7.5px);
        margin: 10px 0px;
    }
    .workfolio:nth-child(even) {
        margin-left: 7.5px;
    }
    .workfolio:nth-child(odd) {
        margin-right: 7.5px;
    }
    .workfolio .details {
        padding: 0px 5px;
    }
    .workfolio > img {
        box-shadow: 0px 8px 16px 0px #000;
    }
}
