#people img {
    width: 70%;
    border-radius: 100%;
}
#people ul li a, #people ul li a:hover, #people ul li a:focus {
    color: white !important;
    text-decoration: none !important;
}
.tab-content ul li {
    float: left;
    margin: 15px 7.5px;
    text-align: center;
    width: calc(25% - 15px);
}
.tab-content ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.tab-content {
    margin: 30px 0px;
}
.workfolios img:first-child {
    width: 100%;
    box-shadow: 0px 8px 16px 0px #000;
    border-top: 0.5px solid #404040;
}
.workfolios .details .media-object {
    width: 18px;
    height: 18px;
    border-radius: 100%;
}
.workfolios small {
    margin-left: 28px;
    color: #888;
}
.workfolios .details a {
    text-transform: capitalize;
    color: #eee;
    white-space: nowrap;
}
.workfolios .details a:hover, .workfolios .details a:focus {
    text-decoration: none;
    color: white;
    outline: none;
}
#content .nav-pills>li.active>a, #content .nav-pills>li.active>a:focus, #content .nav-pills>li.active>a:hover {
    background: transparent;
    color: #00c669;
    outline: none;
}
#content .nav-pills>li>a, #content .nav-pills>li>a:hover, .nav-pills>li>a:focus {
    background: transparent;
    color: #888;
    text-transform: lowercase;
}
#content .nav-pills>li {
    float: left;
    display: block;
}
#content ul h1 {
    margin: 20px 15px;
}
@media (max-width: 767px) {
    .tab-content ul li {
        width: calc(50% - 7.5px);
    }
    .tab-content ul li:nth-child(odd) {
        margin-left: 0px
    }
    .tab-content ul li:nth-child(even) {
        margin-right: 0px
    }
    #content .nav {
        text-align: center;
    }
    #content .nav-pills>li {
        float: none;
        display: inline-block;
    }
    #content .nav-pills > li:last-child {
        float: right;
    }
    #content .nav-pills > li:first-child {
        float: left;
    }
    .workfolios .details {
        padding: 0px 5px;
    }
}
