#details-container {
    background: #111111;
    padding: 30px;
}
#cover {
    width: 150px;
    box-shadow: 0px 8px 16px 0px #000;
    border-top: 0.5px solid #404040;
}
#posted {
    color: #545454;
    font-size: 14px;
    padding: 15px 0px;
}
#posted span:last-child {
    cursor: pointer;
}
#title {
    color: white;
    font-weight: bolder;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
#more {
    color: #888;
    outline: none;
}
#user a, #user a:hover, #user a:focus, #like, #like:hover, #like:focus {
    color: white;
    text-decoration: none;
}
#user {
    margin-top: 30px;
    margin-bottom: 0px;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
}
#user .media-object {
    width: 24px;
    height: 24px;
    border: 2px solid #00c669;
    border-radius: 100%;
}
#like {
    float: right;
}
#modal-body .nav-pills>li {
    float: none;
    display: inline-block;
}
#modal-body .nav-pills>li:first-child {
    float: left;
}
#modal-body .nav-pills>li:last-child {
    float: right;
}
#modal-body .nav-pills>li.active>a, #modal-body .nav-pills>li.active>a:focus, #modal-body .nav-pills>li.active>a:hover {
    background: transparent;
    color: #00c669;
    outline: none;
}
#modal-body .nav-pills>li>a, #modal-body .nav-pills>li>a:hover, #modal-body .nav-pills>li>a:focus {
    background: transparent;
    color: #888;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 12px;
    text-transform: uppercase;
}
.tab-content {
    margin-top: 15px;
    margin-bottom: 30px;
}
.comment {
    margin-bottom: 30px;
}
.comment .media-object {
    width: 24px;
    height: 24px;
    border: 2px solid #00c669;
    border-radius: 100%;
}
.comment .user, .comment .posted {
    float: left;
}
.comment .user {
    width: 60%;
    float: left;
    font-size: 16px;
    color: white;
}
.comment .posted {
    text-align: right;
    width: 40%;
    color: #777;
}
.comment .message {
    font-size: 14px;
}
#comment-form {
    margin-top: 30px;
    margin-bottom: 60px;
}
#comment-form .form-control, #comment-form .input-group-addon {
    border-radius: 0px;
    border: none;
    box-shadow: none;
    outline: none;
    background: transparent;
}
#comment-form .input-group-addon:last-child {
    cursor: pointer;
}
#comment-form .input-group {
    border: 1px solid #444;
    background: #000;
    border-radius: 60px;
}
#tabs {
    background: #000;
    padding: 15px;
}
#modal-body .nav {
    text-align: center;
}
#details, #title {
    margin-top: 0px;
}
#details {
    padding: 0px;
}
@media (max-width: 767px) {
    #cover {
        width: 90px;
    }
    #title {
        font-size: 18px;
    }
    #user {
        padding-left: 0px;
        padding-right: 0px;
    }
    #tabs {
        background: transparent;
        padding: 0px;
    }
    .comment .posted {
        font-size: 8px;
        padding-top: 7px;
    }
}
