body {
    background: #080808;
}

nav>.container-fluid>.navbar-collapse {
    width: 80%;
    display: inline-block !important;
}
.navbar-right {
    margin-right: 0px !important;
}
nav a:not(.navbar-brand) {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 3px;
    color: #fafafa;
}
.navbar {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #313131;
    background: #080808;
}
.navbar-form .input-group-addon, .navbar-form .form-control {
    background: transparent;
    border: none;
}
nav.navbar:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: linear-gradient(#59aceb 0%, rgb(9, 225, 232) 99%);
}
